
h1{
	color: gold;

}
h2{
	padding: 20px;
	color: green;
	background: black;
	width: 50px, 10px;
	font-size: 35px;
	
	
}
a{
	color: lime;
	margin: 10px,10px;
	padding: 1px;
	font-style: none;


}
body{
	
	font-family: arial;

	background-attachment: fixed;
}
li{
	color: green;
	list-style-type: none;
}
p{
	color: orange;

		}

h3{
	color: white;
	background-color: black;
	font-size: 25px;

}
img{
	background:none;

}
h4{
	color: blue;

}
footer{
	background-color: black;
